/*
Auteur : Kevin Vaucher
Date : 04.11.2019
Description : Page internet pour le module ICT-120
Version : 1.0
 */


#logocpnv {
    height: 85px;
    width: 170px;
}

#maintitle {
    text-align: center;
    margin-top: -70px;
}

.cmdCategories {
    text-align: center;
    width: 19.77%;
    background-color: #34ce57;
    vertical-align: middle;
    height:55px;
    font-weight: bold;
}

#divphoto {
    float: left;
    vertical-align: middle;
    margin-top: 100px;
}

body {
    padding: 20px 0px 0px 0px;
}

ul {
    text-align: left;
    display: inline;
    padding: 15px 4px 17px 0;
    list-style: none;
}

#divContenu {
    margin-top: 100px;
    margin-left : 380px;
    height:500px;
}

.bot{
    vertical-align:bottom;
}

#tableContenu {
    width: 100%;
}

.thBorder{
    border-width:1px;
    border-style:solid;
    border-color:black;
    width:20%;
    text-align : center;
}

#cmdKill1{
    float : right;
    width : 20%;
}

.addValues{
    width:20%;
    line-height:0px;
}